*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
}


html {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
}

header {
    height: 70px;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: beige;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

.nav-links {
    display: flex;
    margin-left: auto;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
}

li a {
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}

.desktop {
    display: none;

    @media only screen and (min-width: 600px) {
        display: inline-block;
    }
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.about-section {
    text-align: center;
    padding: 20px;
}

.about-section h3 {
    font-size: 2rem;
    color: #333;
}

.about-section p {
    font-size: 1.2rem;
    color: #666;
}

.fit {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

.fit:first-child {
    flex-grow: 2;
}

.fit:not(:first-child) {
    flex-grow: 1;
}

.large-image {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; 
        padding-left: 20px; 
        padding-right: 20px; 
    }
}

.small-image {
    width: 100%;
    height: auto;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
}